<body class="index-page sidebar-collapse ">
    <nav class="navbar navbar-expand-lg bg-theme br-0">
        <div class="container">
            <div class="navbar-translate text-white">
                <a class="navbar-brand" href="#0">Places</a>




                <a type="button" data-toggle="modal" data-target="#addPlace"
                    class="moreicon material-icons my-2 ml-auto text-white">add</a>

            </div>
        </div>
    </nav>

<div class="bg-cut bottom-nav">
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ul class="nav nav-custom nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/auth/home">
                        <img class="img-fluid" src="./assets/img/tyler/nav/home.svg" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/auth/fence">
                        <img class="img-fluid" src="./assets/img/tyler/nav/hexagon.svg" />
                    </a>
                </li>

                <li class="nav-item crown-lift">
                    <a class="nav-link" type="button" data-html="true" data-toggle="popover" data-placement="top"
                        title=""
                        data-content="<a href='create-fence.html' class='btn btn-block btn-sm btn-primary'>Create Fence</a> <a href='join-fence.html' class='btn btn-block btn-sm btn-outline-primary'>Join Fence</a>"
                        data-container="body">
                        <img class="img-fluid midicon" src="./assets/img/tyler/add-nav.svg" />
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/auth/places">
                        <img class="img-fluid" src="./assets/img/tyler/nav/map-pin (7).svg" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/auth/profile">s
                        <img class="img-fluid" src="./assets/img/tyler/nav/user (7).svg" />

                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="settings.html">
                        <img class="img-fluid" src="./assets/img/tyler/nav/settings (6).svg" />
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="">
        <!-- List of Fences -->
        <div class="placelist">
            <div class="row">
                <div class="col-2">
                    <span class="circle-arrow">
                        <i class="material-icons">home</i>
                    </span>
                </div>
                <div class="col-8">
                    <h4 class="mt-0 text-bold mb-0 ">
                        Home
                    </h4>
                    <p class="small">7, Olufemi Street, off Nathan, Suruelere</p>
                </div>

                <div class="col-2">
                    <span class="">
                        <i class="material-icons">edit</i>
                    </span>
                </div>
            </div>
        </div>

        <div class="placelist">
            <div class="row">
                <div class="col-2">
                    <span class="circle-arrow">
                        <i class="material-icons">work</i>
                    </span>
                </div>
                <div class="col-8">
                    <h4 class="mt-0 text-bold mb-0 ">
                        Work
                    </h4>
                    <p class="small">1A Hughes Avenue, Alagomeji Lagos.</p>
                </div>

                <div class="col-2">
                    <span class="">
                        <i class="material-icons">edit</i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="addPlace" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-bold">Add Place</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Place Title" />
                    </div>

                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Place Address" />
                    </div>
                    <button class="btn btn-block btn-primary mt-4">Add Place</button>
                </form>
            </div>
        </div>
    </div>
</div>



</body>