<body class="index-page sidebar-collapse splash bgcolor">
<div class="container">
    <div class="text-center">
      <div class="splash-logo">
        <img class="img-fluid" src="./assets/img/tyler/logo.svg" />
      </div>
      <a routerLink="/auth" class="btn btn-white btn-round">Get Started</a>
      <p class="text-bold mt-5 text-white">
        <small class="text-white">By signing up you agree to the</small><br>
        Terms of Use, Privacy Policy and Rules
      </p>
    </div>
  </div>
  </body>